name: Deploy Infrastructure

on:
  push:
    branches:
      - main

# TODO: Change to this when proper release workflow is in place
#on:
#  release:
#    types:
#      - published

jobs:
  apply-nonprod:
    permissions:
      id-token: write
      contents: read
    uses: iainazure/devstream_workflows/.github/workflows/terraform_apply.yaml@v0
    with:
      working_directory: infrastructure/environments/nonprod
      azure_resource_name: devstream_infra
#      environment: nonprod # This links to GitHub Environments for approvals
    secrets: inherit