name: Terraform Plan

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

jobs:
  terraform-plan-nonprod:
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    uses: iainazure/devstream_workflows/.github/workflows/terraform_plan.yaml@v0
    with:
      working_directory: infrastructure/environments/nonprod
      azure_resource_name: devstream_infra
#      environment: nonprod
    secrets: inherit
