name: Terraform Plan

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

jobs:
  terraform-plan-nonprod:
    permissions:
      id-token: write      # Required for Azure OIDC
      contents: read       # Required to checkout code
      pull-requests: write # Required to post the Plan comment
    uses: iainazure/devstream_workflows/.github/workflows/terraform_plan.yaml@v0
    with:
      working_directory: infrastructure/environments/nonprod
      azure_resource_name: devstream_infra
      environment: nonprod
    secrets: inherit
